
.itim-regular {
    font-family: 'Itim', sans-serif;
  }
  
  .main-title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .container {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #E0E9FA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 300px;
    position: relative;
  }
  
  .image-container {
    position: relative;
  }
  
  .image {   /* imágenes de las tarjetas */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
  }
  
  .text {
    margin-top: 10px;
    font-size: 30px;
    color: #333;
    transition: opacity 0.3s ease;
  }
  
  .hover-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    white-space: normal;
  }
  
  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #F5F7FB;
  }
  
  .info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    color: #333;
  }
  
  .info-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .image-container-info {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .info-image {
    width: 400px;   /* imágenes de nuestros valores, porqué lo hacemos y misión y visión */
    height: 360px;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .imagen {   /*imagen del gato asomado*/
    width: 160px;
    height: 300px;
    left: 20px;
  }

/* Responsive adjustments */
@media (max-width: 1024px) {
  .info-block {
    flex-direction: column;
    text-align: center;
  }

  .info-image {
    width: 280px;
    height: 280px;
  }

  .info-title {
    font-size: 32px;
  }
  
  .imagen { /*gato asomado*/
  width: 0px;
  height: 300px;
  left: 20px;
  }
}

@media (max-width: 1024px) {
  .imagen {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 48px;
  }

  .container {
    width: 80%;
    padding: 15px;
  }

  .image {
    width: 80px;
    height: 80px;
  }

  .text {
    font-size: 24px;
  }

  .info-title {
    font-size: 28px;
  }

  .text-container {
    font-size: 18px;
    padding: 15px;
  }

  .info-image {
    width: 240px;
    height: 240px;
  }
  .imagen {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 36px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .image {
    width: 60px;
    height: 60px;
  }

  .text {
    font-size: 20px;
  }

  .info-title {
    font-size: 24px;
  }

  .text-container {
    font-size: 16px;
    padding: 10px;
  }

  .info-image {
    width: 200px;
    height: 200px;
  }
}
