.carousel {
  margin: 20px 0; /* Espaciado alrededor del carrusel */
}

.carousel img {
  border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.breeds-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.cat-breeds {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #7cbfe0 0.5%, #f3f0f0 50%); /* Fondo con dos colores */
  position: relative; /* Para el posicionamiento del logo */
  color: #333; /* Color de texto */
}

.logo {
  position: absolute; /* Posiciona el logo al lado */
  top: 20px; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
  width: 100px; /* Ajusta el tamaño del logo */
}

.cat-breeds h1 {
  font-size: 2em;
  color: #333; /* Color del título */
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start; /* Alinea el contenedor a la izquierda */
}

.category-filter {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.breeds-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático de columnas */
  gap: 15px; /* Espacio entre tarjetas */
}

.breed-card {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.breed-image-container {
  width: 100%;
  height: 220px; /* Altura ajustada para tarjetas más grandes */
  overflow: hidden;
  background-color: #f8f8f8;
}

.breed-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta bien la imagen */
  object-position: center; /* Centra la imagen */
}

.breed-info {
  padding: 15px;
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}
.more-info-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.more-info-link:hover {
  color: #0056b3;
  text-decoration: underline;
}